---
http_interactions:
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/geocode/json?address=%E5%85%AD%E6%9C%AC%E6%9C%A8%E3%83%92%E3%83%AB%E3%82%BA&key=<GOOGLE_API_KEY>
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
           "results" : [
              {
                 "address_components" : [
                    {
                       "long_name" : "1",
                       "short_name" : "1",
                       "types" : [ "premise" ]
                    },
                    {
                       "long_name" : "11",
                       "short_name" : "11",
                       "types" : [ "political", "sublocality", "sublocality_level_4" ]
                    },
                    {
                       "long_name" : "6 Chome",
                       "short_name" : "6 Chome",
                       "types" : [ "political", "sublocality", "sublocality_level_3" ]
                    },
              [...]
