---
http_interactions:
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/geocode/json?address=%E7%9B%AE%E9%BB%92%E5%8C%BA%E7%9B%AE%E9%BB%921-1-1&key=<GOOGLE_API_KEY>
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
           "results" : [
              {
                 "address_components" : [
                    {
                       "long_name" : "1",
                       "short_name" : "1",
                       "types" : [ "premise" ]
                    },
                    {
                       "long_name" : "1",
                       "short_name" : "1",
                       "types" : [ "political", "sublocality", "sublocality_level_4" ]
                    },
                    {
                       "long_name" : "1-chōme",
                       "short_name" : "1-chōme",
                       "types" : [ "political", "sublocality", "sublocality_level_3" ]
                    },
                [...]
