---
http_interactions:
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/geocode/json?address=%E6%B8%8B%E8%B0%B7%E5%8C%BA%E5%AE%87%E7%94%B0%E5%B7%9D%E7%94%BA&key=<GOOGLE_API_KEY>
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
           "results" : [
              {
                 "address_components" : [
                    {
                       "long_name" : "Udagawacho",
                       "short_name" : "Udagawacho",
                       "types" : [ "political", "sublocality", "sublocality_level_2" ]
                    },
                    {
                       "long_name" : "Shibuya City",
                       "short_name" : "Shibuya City",
                       "types" : [ "locality", "political" ]
                    },
                    {
                       "long_name" : "Tokyo",
                       "short_name" : "Tokyo",
                       "types" : [ "administrative_area_level_1", "political" ]
                    },
                    {
                       "long_name" : "Japan",
                       "short_name" : "JP",
                       "types" : [ "country", "political" ]
                    },
                    {
                       "long_name" : "150-0042",
                       "short_name" : "150-0042",
                       "types" : [ "postal_code" ]
                    }
                 ],
                 "formatted_address" : "Udagawacho, Shibuya City, Tokyo 150-0042, Japan",
                 "geometry" : {
                    "bounds" : {
                       "northeast" : {
                          "lat" : 35.6647154,
                          "lng" : 139.7007916
                       },
                       "southwest" : {
                          "lat" : 35.6594441,
                          "lng" : 139.6946256
                       }
                    },
                    "location" : {
                       "lat" : 35.661594,
                       "lng" : 139.6981574
                    },
                    "location_type" : "APPROXIMATE",
                    "viewport" : {
                       "northeast" : {
                          "lat" : 35.6647154,
                          "lng" : 139.7007916
                       },
                       "southwest" : {
                          "lat" : 35.6594441,
                          "lng" : 139.6946256
                       }
                    }
                 },
                 "place_id" : "ChIJb1IBP6mMGGARp8UH7cvFSmE",
                 "types" : [ "political", "sublocality", "sublocality_level_2" ]
              }
           ],
           "status" : "OK"
        }
  recorded_at: Thu, 25 Apr 2019 08:45:23 GMT
recorded_with: VCR 4.0.0
