<div id="mega-slider" class="carousel slide " data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner" role="listbox">
    <div class="item active">
      <%= image_tag 'slide-1.png' %>
      <div class="carousel-caption">
        <h2>KEY STATION OFFICE</h2>
        <p>ビジネスが加速するシェア・レンタルオフィス</p>
        <p>オフィススペースだけじゃない、税務・法務など充実のサポート体制。</p>
      </div>
    </div>
  </div>
