<div id="mega-slider" class="carousel slide " data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner" role="listbox">
    <div class="item active">
      <%= image_tag 'slide-1.png' %>
      <div class="carousel-caption">
        <h2>KEY STATION OFFICE</h2>
        <p>ビジネスが加速するシェア・レンタルオフィス</p>
        <p>オフィススペースだけじゃない、税務・法務など充実のサポート体制。</p>
      </div>
    </div>
  </div>
</div>
<div class="row middle-menu">
  <div class="col-md-12">
    <div class="mg-filter">
      <% if logged_in? %>
        <%= link_to 'ご利用可能な施設', facilities_path, class: 'btn btn-dark btn-main' %>
      <% else %>
        <%= link_to 'ログイン', sign_in_path, class: 'btn btn-dark btn-main' %>
      <% end %>
    </div>
  </div>
</div>
