<div class='pl30 pr30'style='margin-top: 140px;'>
  <h2 class='text-center'>プライバシーポリシー</h2>

  <div style='margin-top:30px;'>
    Keeyls 株式会社(以下「当社」といいます)は、当社の提供するサービス「KEY STATION」(以下「本 サービス」といいます)の運営にあたり準拠する当プライバシーポリシーを掲示し、本サービスをご 利用になる方(以下「ユーザー」といいます)のプライバシーを尊重し、ユーザーの個人情報(以下 の定義に従います)の管理に細心の注意を払い、これを取り扱うものとします。
  </div>

  <div style='margin-top:30px;'>
  <h4>個人情報</h4>
  個人情報とは、ユーザー個人に関する情報であって、当該情報を構成する氏名、住所、電話番号、メ ールアドレス、その他の記述等により当該ユーザーを識別できるものをいいます。
  </div>

  <div style='margin-top:30px;'>
  <h4>個人情報の利用目的</h4>
  個人情報の利用目的は以下の通りです。利用目的を超えて利用することはありません。また、そのた めの措置を講じます。<br />
  <li>ユーザーの個人認証および本サービスの提供</li>
  <li>本サービスの利用に伴う連絡</li>
  <li>メールマガジン・DM・各種お知らせ等の配信・送付</li>
  <li>本サービスの機能を提供するための、他のユーザー、予約代行を行う飲食店その他の第三者への個人情報の提供</li>
  <li>属性情報・端末情報・位置情報・行動履歴等に基づく広告・コンテンツ等の配信・表示、本サービスの提供</li>
  <li>本サービスの改善・新規サービスの開発およびマーケティング</li>
  <li>キャンペーン・アンケート・モニター・取材等の実施</li>
  <li>空メール送信者に対する URL 情報の配信</li>
  <li>本サービスに関するご意見、お問い合わせ、投稿内容の確認・回答</li>
  <li>利用規約等で禁じている、商用・転用目的での各種申込行為、各種多重申込、権利譲渡、虚偽情報登録などの調査と、それに基づく当該申込内容の詳細確認</li>
  </div>

  <div style='margin-top:30px;'>
  <h4>個人情報提供の任意性</h4>
  本サービスにおいて必要となる項目を入力いただかない場合は、本サービスの一部または全部を受け られない場合があります。
  </div>

  <div style='margin-top:30px;'>
  <h4>個人情報の第三者への提供</h4>
  当社は、原則として、ユーザー本人の同意を得ずに個人情報を第三者に提供しません。提供先・提供 情報内容を特定したうえで、ユーザーの同意を得た場合に限り提供します。ただし、以下の場合は、 関係法令に反しない範囲で、ユーザーの同意なく個人情報を提供することがあります。<br />
  <li>ユーザーが第三者に不利益を及ぼすと判断した場合</li>
  <li>公衆衛生の向上または児童の健全な育成の推進のために特に必要がある場合であって、ユーザー本人の承諾を得ることが困難である場合</li>
  <li>国の機関もしくは地方公共団体またはその委託を受けた者が法令の定める事務を遂行することに対して協力する必要がある場合</li>
  <li>裁判所、検察庁、警察またはこれらに準じた権限を有する機関から、個人情報についての開示を求められた場合</li>
  <li>ユーザー本人から明示的に第三者への開示または提供を求められた場合</li>
  <li>法令により開示または提供が許容されている場合</li>
  <li>合併その他の事由による事業の承継に伴い個人情報を提供する場合</li>
  </div>

  <div style='margin-top:30px;'>
  <h4>第三者提供に関する免責事項</h4>
  以下の場合は、第三者による個人情報の取得に関し、当社は何らの責任を負いません。<br />
  <li>ユーザー自らが本サービスの機能または別の手段を用いて第三者に個人情報を明らかにする場合(なお、当該第三者における個人情報の取扱いについては、当該第三者に直接お問合せください)</li>
  <li>本サービスに入力した情報により、期せずして本人が特定できてしまった場合</li>
  <li>本サービスからリンクされる外部サイトにおいて、ユーザーより個人情報が提供され、またそれが利用された場合</li>
  <li>ユーザー本人以外がユーザー個人を識別できる情報(ID・パスワード等)を入手した場合</li>
  </div>

  <div style='margin-top:30px;'>
  <h4>リスクへの対応</h4>
  当社は個人情報の漏えい、滅失、き損などのリスクに対しては、合理的な安全対策を講じて防止すべ く、事業の実情に合致した経営資源を注入し、個人情報のセキュリティ体制を継続的に向上させてい きます。また、万一の際には速やかに是正措置を講じます。<br />
  </div>

  <div style='margin-top:30px;'>
  <h4>個人情報処理の外部委託</h4>
  当社は、個人情報取扱い業務の一部または全部を外部委託することがあります。その場合、委託先に おいて個人情報の安全管理が図られるよう、必要かつ適切な監督を行います。<br />
  </div>

  <div style='margin-top:30px;'>
  <h4>統計処理されたデータの利用</h4>
  当社は、提供を受けた個人情報をもとに、個人を特定できないよう加工した統計データを作成するこ とがあります。個人を特定できない統計データについては、当社は何ら制限なく利用することができ るものとします。<br />
  </div>

  <div style='margin-top:30px;'>
  <h4>個人情報の変更等</h4>
  原則としてユーザー本人に限り、登録した個人情報の開示、訂正、追加または削除、利用停止、なら びに第三者への提供の停止(以下「個人情報の変更等」といいます)を求めることができるものとし ます。具体的な方法については下記の問い合わせ先にご連絡ください。ただし、以下の場合は個人情報 の変更等に応じないことがあります。<br />
  <li>ユーザー本人または第三者の生命、身体、財産その他の権利・利益を害するおそれがある場合</li>
  <li>本サービスの適正な実施に著しい支障を及ぼすおそれがある場合</li>
  <li>他の法令に違反することとなる場合</li>
  また、当該個人情報の変更等に多額の費用を要する場合、その他の、個人情報の変更等を行うことが困 難な場合であって、ユーザーの権利・利益を保護するため必要なこれに代わるべき措置をとるときは、 個人情報の変更等に応じないことがあります。
  </div>

  <div style='margin-top:30px;'>
  <h4>個人情報の正確性</h4>
  当社は、提供いただいた個人情報を正確にデータ処理するように努めます。ただし、提供いただいた 個人情報の内容が最新かつ正確であることについては、ユーザーが責任を負うものとします。
  </div>

  <div style='margin-top:30px;'>
  <h4>本人確認について</h4>
  当社は、本サービスへの会員登録や、会員が本サービスを利用する場合、個人情報の開示、訂正、削 除もしくは利用停止の求めに応じる場合など、個人を識別できる情報(氏名、住所、電話番号、生年月日、 メールアドレス、会員番号、パスワードなど)により、本人であることを確認します。ただし、本人以 外が個人を識別できる情報を入手し使用した場合、当社は責任を負いません。
  </div>

  <div style='margin-top:30px;'>
  <h4>属性情報・端末情報・位置情報・行動履歴等の取得および利用について</h4>
  <li>属性情報・端末情報・位置情報・行動履歴等(以下「行動履歴等」といいます)のうち Cookie 等について</li>
  当社は、ユーザーのプライバシーの保護、利便性の向上、広告の配信および統計データの取得のた め、Cookie を使用します。また、Cookie や JavaScript 等の技術を利用して、ご提供いただいた情報 のうち、年齢や性別、職業、居住地域など個人が特定できない属性情報(組み合わせることによっ ても個人が特定できないものに限られます)や端末情報、本サービスサイト内におけるユーザーの 行動履歴およびスマートフォン等利用時の、ユーザーの承諾・申込みに基づく位置情報を取得する ことがあります。ただし、Cookie および行動履歴等には個人情報は一切含まれません。また、本サ ービスでは、ユーザーに適切な広告を配信するために行動ターゲティング広告サービスを利用して います。
  <li>行動履歴等のうち以下の場合のアクセスログ等について</li>
  当社はユーザーがログインして本サービスを利用した場合には、個人を特定したうえで、当該ログ イン以前からの行動履歴等を用いて、広告・コンテンツ等の配信・表示および本サービスの提供を する場合があります。
  </div>

  <div style='margin-top:30px;'>
  <h4>プライバシーポリシーの変更</h4>
  当社は、法令等の定めがある場合を除き、プライバシーポリシーを随時変更することができるものと します。
  </div>

  <div style='margin-top:30px;'>
  <h4>個人情報に関するお問い合わせ</h4>
  当社は個人情報取扱いに関するご相談および苦情に対しては、迅速かつ誠実に対応いたします。<br />
  個人情報に関するお問い合わせご要望は下記窓口までお願いいたします。<br />
  contact@keeyls.com
  </div>

  <div style='margin-top:30px;'>
  <h4>個人情報保護マネジメントシステム</h4>
  当社は、上記プライバシーポリシーを具現化するための個人情報保護マネジメントシステムを構築し、 最新の IT 技術の動向、社会的要請の変化、経営環境の変動等を常に認識しながら、適時、適切に見直 しを行い、その継続的改善に、全社をあげて取り組みます。<br />
  <br />
  認定個人情報保護団体について
  当社が加入する認定個人情報保護団体は、ありません。<br />
  <br />
  個人情報管理者 管理者名:個人情報保護管理責任者 大貫 功二<br />
  所属:Keeyls 株式会社<br />
  連絡先:contact@keeyls.com<br />
</div>


  <div class='mb60'>
    <%= link_to '新規登録画面', new_user_path %>
  </div>
</div>

