<div class='pl30 pr30'style='margin-top: 140px;'>
  <h2 class='text-center'>特定商取引法に基づく記載</h2>

  <div style='margin-top:30px;'>
    <h4>サービス名</h4>
    KS Booking
  </div>

  <div style='margin-top:30px;'>
    <h4>販売事業者名</h4>
    Keeyls株式会社
  </div>

  <div style='margin-top:30px;'>
    <h4>責任者名</h4>
    大貫 功二
  </div>

  <div style='margin-top:30px;'>
    <h4>住所</h4>
    東京都渋谷区渋谷1-7-5 青山セブンハイツ2F
  </div>

  <div style='margin-top:30px;'>
    <h4>電話番号</h4>
    03-6451-1524
  </div>

  <div style='margin-top:30px;'>
    <h4>お問合せ先</h4>
    inquiry@keeyls.com
  </div>

  <div style='margin-top:30px;'>
    <h4>システム利用料</h4>
    各種システム利用料は、各サービスの購入画面に税込価格を表示。
  </div>

  <div style='margin-top:30px;'>
    <h4>システム利用料以外にお客様に発生する金銭</h4>
    消費税、本サービスのご利用に必要なインターネット接続料金、通信料金、パケット通信料等
  </div>

  <div style='margin-top:30px;'>
    <h4>代金支払方法</h4>
    ・クレジットカード支払<br />
    ・銀行振込
  </div>

  <div style='margin-top:30px;'>
    <h4>支払時期</h4>
    クレジットカード：<br />
    施設のご予約確定時に課金されます。<br />
    クレジットカード会社が定める引き落とし日に支払いとなります。<br /><br />
    銀行振込:<br />
    月初に前月利用分をまとめてご請求書を送らせて頂きます。<br />
    支払い期日は請求書に記載させて頂きます。<br />
  </div>

  <div style='margin-top:30px;'>
    <h4>キャンセル・解約に関する事項</h4>
    ご利用24時間まで管理画面より予約のキャンセルが可能です。<br />
    キャンセルに伴う返金は即時処理されます。<br />
  </div>

  <div style='margin-top:30px;'>
    <h4>お問い合わせ</h4>
    KS Bookingに関する事項は お問い合わせフォーム よりご連絡ください。
  </div>
</div>
