

<% content_for :middle_title do %>
  <h2>パスワード再発行</h2>
<% end %>
<div class="login">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="panel panel-default text-center">
          <div class="panel-heading">
            パスワードを再発行しました
          </div>
          <div class="panel-body">
            ご入力いただいたメールアドレスに<br>
            パスワードの再発行URLをお送りいたします。<br>
            そちらのURLからパスワードの再発行を行ってください
          </div>
          <%= link_to 'ログイン画面へ戻る', sign_in_path, class: 'btn btn-main' %>
        </div>
      </div>
    </div>
  </div>
</div>
