<div class="box box-default">
  <div class="box-header">
    <div class="box-tools pull-right">
      <%= link_to t('common.btn.delete'),
                  corporation_manage_shop_facility_facility_pack_plan_path(@facility.shop, @facility, @facility_pack_plan),
                  method: :delete,
                  data: { confirm: t('common.confirms.really_to_delete') },
                  class: 'btn btn-danger' %>
    </div>
  </div>
  <div class="box-body">
    <%= render 'form', shop: @shop, facility: @facility, facility_pack_plan: @facility_pack_plan %>
  </div>
</div>
