<% breadcrumb :edit_admin_corporation_corporation_user, @corporation, @corporation_user %>

<div class="box box-default">
  <div class="box-header with-border">
    <h4 class="box-title"><%= CorporationUser.model_name.human %>編集</h4>
  </div>
  <div class="box-body">
    <%= render 'form', corporation: @corporation, corporation_user: @corporation_user %>
  </div>
</div>
