<% breadcrumb :new_admin_corporation_facility_facility_plan, @corporation, @facility %>

<div class="box box-default">
  <div class="box-header with-border">
    <h4 class="box-title"><%= FacilityPlan.model_name.human %>新規登録</h4>
  </div>
  <div class="box-body">
    <%= render 'form', corporation: @corporation, facility: @facility %>
  </div>
</div>
