<%= bootstrap_form_for([:admin, corporation, shop, facility, facility_key], layout: :horizontal) do |f| %>
  <% if (ks_room_key_select(corporation)).present? %>
    <%= f.select :ks_room_key_id, options_for_select(ks_room_key_select(corporation), selected: f.object.ks_room_key_id), include_blank: true %>
    <%= f.submit class: 'btn btn-primary center-block' %>
  <% else %>
    <h4 class='text-center'>ただ今、選択できる鍵はございません</h4>
  <% end %>
<% end %>
