<footer class="content-footer bottom-tab">
  <div class="row">
    <ul class="footer-nav">
      <li><%= link_to '利用規約', terms_path, target: '_blank' %></li>
      <li><%= link_to '運営会社', 'https://www.key-stations.jp/', target: '_blank' %></li>
    </ul>
  </div>
  <div class="row">Copyright 2016 KEY STATION Inc.</div>
</footer>

