<nav class="navbar navbar-default">
  <div class="container-fluid header">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle Navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to root_path, class: 'navbar-brand' do %><%= image_tag 'img_logo.png' %><% end %>
    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <% if logged_in? %>
        <ul class="nav navbar-nav navbar-right">
          <li class="dropdown">
            <ul class="dropdown-menu" role="menu">
              <li><%= link_to 'ログアウト', users_sign_out_path, method: :delete %></li>
            </ul>
          </li>
        </ul>
      <% end %>
    </div>
  </div>
</nav>
