<div class="mg-page-title parallax">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <%= yield :middle_title %>
      </div>
    </div>
  </div>
</div>
<%= render "shared/flash" %>
