<div class="box box-default">
  <div class="box-header with-border">
    <h4 class="box-title"><%= Plan.model_name.human %>新規登録</h4>
  </div>
  <div class="box-body">
    <%= render 'form', plan: @plan %>
  </div>
</div>
