<% breadcrumb :new_admin_information %>

<div class="box box-default">
  <div class="box-header with-border">
    <h4 class="box-title"><%= Information.model_name.human %>新規登録</h4>
  </div>
  <div class="box-body">
    <%= render 'form', information: @information %>
  </div>
</div>
