<div class="mg-booking-form">
  <ul class="nav nav-tabs">
    <li role="presentation" class="<%= 'active' if active_tab == 'select-room' %>">
      <a href="#select-room" aria-controls="select-room" role="tab" data-toggle="tab">
        <span class="mg-bs-tab-num">1</span>
        <span class="mg-bs-bar"></span>ご利用情報入力
      </a>
    </li>
    <li role="presentation" class="<%= 'active' if active_tab == 'personal-info' %>">
      <a href="#personal-info" aria-controls="personal-info" role="tab" data-toggle="tab">
        <span class="mg-bs-tab-num">2</span>
        <span class="mg-bs-bar"></span>カード情報入力
      </a>
    </li>
    <li role="presentation" class="<%= 'active' if active_tab == 'payment' %>">
      <a href="#payment" aria-controls="payment" role="tab" data-toggle="tab">
        <span class="mg-bs-tab-num">3</span>
        <span class="mg-bs-bar"></span>確認画面
      </a>
    </li>
    <li role="presentation" class="<%= 'active' if active_tab == 'thank-you' %>">
      <a href="#thank-you" aria-controls="thank-you" role="tab" data-toggle="tab">
        <span class="mg-bs-tab-num">4</span>完了
      </a>
    </li>
  </ul>
</div>

