<% content_for :middle_title do %>
  <h2><%= @facility.name %> - <%= @facility.shop_name %></h2>
<% end %>
<div class="mg-page">
  <div class="container">
    <%= render 'step', active_tab: 'personal-info' %>
    <div class="row">
      <div class="col-md-12 mb20 mt20">
        <%= render 'credit_cards/form', credit_card: @credit_card, form_url: credit_card_reservations_path %>
      </div>
    </div>
  </div>
</div>
