<div class="box box-default">
  <div class="box-header with-border">
    <h4 class="box-title"><%= t('.title') %></h4>
  </div>
  <div class="box-body">
    <%= render 'form', shop: @shop, facility: @facility, facility_key: @facility_key %>
  </div>
</div>
