<div class="box box-default">
  <div class="box-header with-border">
    <h4 class="box-title"><%= UserCorp.model_name.human %>編集</h4>
  </div>
  <div class="box-body">
    <%= bootstrap_form_for(@user_corp, url: corporation_manage_user_corp_path(@user_corp), method: :patch, layout: :horizontal, method: :patch) do |f| %>
      <%= render 'form', f: f %>
    <% end %>
  </div>
</div>
