<!-- 施設利用ドロップイン時間帯プラン -->
<div class="box box-default">
  <div class="box-header with-border">
    <h4 class="box-title">施設利用ドロップインプラン</h4>
    <div class="box-tools">
      <%= link_to "新規追加", new_admin_corporation_facility_facility_dropin_plan_path(@corporation, @facility), class: 'btn btn-primary' %>
    </div>
  </div>
  <div id="dropin-calendar"
    data-corporation=<%="#{params[:corporation_id]}"%>
    data-shop=<%="#{params[:shop_id]}"%>
    data-facility=<%="#{params[:id]}"%>>
  </div>
</div>
