<aside class="mg-widget mt50" id="mg-room-cart">
<h2 class="mg-widget-title">プラン情報</h2>
  <div class="mg-widget-cart">
    <div class="mg-cart-room">
      <img src="images/room-1.png" alt="Delux Room" class="img-responsive">
      <h3>Super Delux</h3>
    </div>
    <div class="mg-widget-cart-row">
      <strong>Check In:</strong>
      <span>27 Jan, 2015</span>
    </div>
    <div class="mg-widget-cart-row">
      <strong>Check Out:</strong>
      <span>28 Jan, 2015</span>
    </div>
    <div class="mg-widget-cart-row">
      <strong>Adults:</strong>
      <span>2</span>
    </div>
    <div class="mg-widget-cart-row">
      <strong>Child:</strong>
      <span>1</span>
    </div>
    <div class="mg-cart-total">
      <strong>Total:</strong>
      <span>$249.99</span>
    </div>
  </div>
</aside>
