<% content_for :middle_title do %>
  <h2>申し込み</h2>
<% end %>
<div class="mg-page">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="mg-booking-form">
          <div class="tab-content">
            <div role="tabpanel" class="tab-pane fade active in">
              <div class='row'>
                <div class="col-md-8">
                  <div class="mg-book-form-personal">
                    <h2 class="mg-sec-left-title">スペース情報</h2>
                    <%= render 'shop', shop: @shop %>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="mg-cart-container">
                    <%= render 'plan', plan: @plan %>
                  </div>
                </div>
                <div class="col-md-8">
                  <%= link_to '次へ', current_user.credit_card.present? ? shop_plan_user_contracts_credit_card_path(@shop.id, @plan.id) : new_credit_card_path(shop_id: @shop.id, plan_id: @plan.id), class: 'btn btn-dark-main pull-right' %>
                  <%= link_to '戻る', shop_path(@shop), class: 'btn btn-default pull-left' %>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
