<% content_for :middle_title do %>
  <h2>本人確認登録</h2>
<% end %>
<div class="panel panel-default">
  <div class="panel-body edit-user-panel mt50">
    <%= render 'form', personal_identification: @personal_identification %>
  </div>
</div>
