<% breadcrumb :edit_admin_user_corp, @user_corp %>

<div class="box box-default">
  <div class="box-header with-border">
    <h4 class="box-title"><%= UserCorp.model_name.human %>編集</h4>
  </div>
  <div class="box-body">
    <%= render 'form', user_corp: @user_corp %>
  </div>
</div>
