.reservation-head {
  font-size: 12px;
}

.reservation-body {
  font-size: 12px;
}

.scroll table{
  width:100%;
  }
  .scroll{
  overflow: auto;
  white-space: nowrap;
  }
  .scroll::-webkit-scrollbar{
  height: 5px;
  }
  .scroll::-webkit-scrollbar-track{
  background: #F1F1F1;
  }
  .scroll::-webkit-scrollbar-thumb {
  background: #BCBCBC;
  }

.rsv_new_date {
  float: left !important;
}

.rsv_new_time {
  color: #fff;
  font-size: 20px;
  line-height: 38px;
}

#spot_stay {
  padding-top: 2px !important;
}
