.tab-pane.active {
  border: none;
}

.mg-available-rooms {
  margin-bottom: 0;
  padding: 20px 0;
  border: none;
  border-radius: 0;
  border-top: solid 1px #e0dccc;
}

.spot-price {
  font-size: 20px;
  color: #e7b315;
  padding-bottom: 20px;
}

.google-map {
  height: 213px;
}
