---
http_interactions:
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/geocode/json?address=%E6%9D%B1%E4%BA%AC%E9%83%BD%E6%B8%8B%E8%B0%B7%E5%8C%BA&key=<GOOGLE_API_KEY>
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
           "results" : [
              {
                 "address_components" : [
                    {
                       "long_name" : "Shibuya City",
                       "short_name" : "Shibuya City",
                       "types" : [ "locality", "political" ]
                    },
                    {
                       "long_name" : "Tokyo",
                       "short_name" : "Tokyo",
                       "types" : [ "administrative_area_level_1", "political" ]
                    },
                    {
                       "long_name" : "Japan",
                       "short_name" : "JP",
                       "types" : [ "country", "political" ]
                    }
                 ],
                 "formatted_address" : "Shibuya City, Tokyo, Japan",
                 "geometry" : {
                    "bounds" : {
                       "northeast" : {
                          "lat" : 35.6921778,
                          "lng" : 139.7238593
                       },
                       "southwest" : {
                          "lat" : 35.6415538,
                          "lng" : 139.6613727
                       }
                    },
                    "location" : {
                       "lat" : 35.6619707,
                       "lng" : 139.703795
                    },
                    "location_type" : "APPROXIMATE",
                    "viewport" : {
                       "northeast" : {
                          "lat" : 35.6921778,
                          "lng" : 139.7238593
                       },
                       "southwest" : {
                          "lat" : 35.6415538,
                          "lng" : 139.6613727
                       }
                    }
                 },
                 "place_id" : "ChIJ0Qgx67KMGGARd2ZbObLZHPE",
                 "types" : [ "locality", "political" ]
              }
           ],
           "status" : "OK"
        }
  recorded_at: Tue, 23 Apr 2019 07:47:39 GMT
recorded_with: VCR 4.0.0
