---
http_interactions:
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/geocode/json?address=%E6%9D%B1%E4%BA%AC%E9%83%BD%E6%B8%8B%E8%B0%B7%E5%8C%BA%E5%AE%87%E7%94%B0%E5%B7%9D%E7%94%BA31%E2%88%929&key=<GOOGLE_API_KEY>
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
           "results" : [
              {
                 "address_components" : [
                    {
                       "long_name" : "9",
                       "short_name" : "9",
                       "types" : [ "premise" ]
                    },
                    {
                       "long_name" : "31",
                       "short_name" : "31",
                       "types" : [ "political", "sublocality", "sublocality_level_4" ]
                    },
                    {
                       "long_name" : "Udagawachō",
                       "short_name" : "Udagawachō",
                       "types" : [ "political", "sublocality", "sublocality_level_2" ]
                    },
                    {
                       "long_name" : "Shibuya City",
                       "short_name" : "Shibuya City",
                       "types" : [ "locality", "political" ]
                    },
                    {
                       "long_name" : "Tōkyō-to",
                       "short_name" : "Tōkyō-to",
                       "types" : [ "administrative_area_level_1", "political" ]
                    },
                    {
                       "long_name" : "Japan",
                       "short_name" : "JP",
                       "types" : [ "country", "political" ]
                    },
                    {
                       "long_name" : "150-0042",
                       "short_name" : "150-0042",
                       "types" : [ "postal_code" ]
                    }
                 ],
                 "formatted_address" : "31-9 Udagawachō, Shibuya City, Tōkyō-to 150-0042, Japan",
                 "geometry" : {
                    "location" : {
                       "lat" : 35.6611528,
                       "lng" : 139.697874
                    },
                    "location_type" : "ROOFTOP",
                    "viewport" : {
                       "northeast" : {
                          "lat" : 35.6625017802915,
                          "lng" : 139.6992229802915
                       },
                       "southwest" : {
                          "lat" : 35.6598038197085,
                          "lng" : 139.6965250197085
                       }
                    }
                 },
                 "place_id" : "ChIJFeMFDKmMGGARu7jjJww_VKU",
                 "plus_code" : {
                    "compound_code" : "MM6X+F4 Tokyo, 東京都 Japan",
                    "global_code" : "8Q7XMM6X+F4"
                 },
                 "types" : [ "street_address" ]
              }
           ],
           "status" : "OK"
        }
  recorded_at: Tue, 23 Apr 2019 07:47:34 GMT
recorded_with: VCR 4.0.0
