<div class="box box-default">
  <div class="box-header with-border">
    <h4 class="box-title"><%= FacilityTemporaryPlan.model_name.human %></h4>
    <div class="box-tools cy-add-temporary-plan-btn">
      <%= link_to t('common.btn.new'), new_corporation_manage_shop_facility_facility_temporary_plan_path(shop, facility), class: 'btn btn-primary' %>
    </div>
  </div>
  <div id="js-plan-price-table"></div>
</div>
