<div class="mg-page-title parallax">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h2><%= FacilityTemporaryPlan.model_name.human %>新規登録</h2>
      </div>
    </div>
  </div>
</div>
<div class="mg-page">
  <div class="mg-about-features">
    <div class="container">
      <div class="row">
        <div class='col-md-offset-2 col-md-8'>
          <%= render 'form', facility: @facility, facility_temporary_plan: @facility_temporary_plan %>
        </div>
      </div>
    </div>
  </div>
</div>
