@media screen and (min-width:481px) {
  .user-login-box {
    width: 30%;
    margin: 7% auto;
  }
}

@media screen and (max-width:480px) {
  .user-login-box {
    width: 90%;
    margin: 7% auto;
  }
}

.btn-login {
  margin-top: 10px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 30%;
}
