<% content_for :middle_title do %>
  <h2><%= Plan.model_name.human %>管理</h2>
<% end %>
<div class="mg-page">
  <div class="container">
    <div class="row">
      <div class="col-md-2"></div>
      <div class="col-md-8">
        <div class="mg-sec-title">
          <h2>プラン情報変更</h2>
        </div>
        <%= render 'form', plan: @plan %>
      </div>
      <div class="col-md-2"></div>
    </div>
  </div>
</div>
