<div class="box box-default">
  <div class="box-header with-border">
    <h4 class="box-title"><%= PersonalIdentification.model_name.human %>編集</h4>
  </div>
  <div class="box-body">
    <%= render 'form', user: @user, personal_identification: @personal_identification %>
  </div>
</div>
